<h1>New Cocktail</h1>
<p>Add your great new cocktail - and dont forget to charge a lot for it!</p>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, class: 'input-field' %>
  <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  <%= f.input :photo, as: :file, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
  <%= f.submit "add a cocktail", class: "btn btn-ghost" %>
<% end %>
