<h1>Add Doses and Ingredients for <%= @cocktail.name%></h1>
<p>Find me in app/views/doses/new.html.erb</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: "How much?" %>
  <%= f.association :ingredient, label: "Of what?" %>
  <%= f.submit "add a dose of this", class: "btn btn-primary" %>
<% end %>
